# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/
*.tsbuildinfo

# Native
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Bitácora screenshots (opcionales, no inflar el repo)
bitacora/screenshots/
